<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit*]*,[*]*.Migrations.*</Exclude>
          <ExcludeByFile>**/obj/**,**/bin/**,**/*.g.cs,**/*.g.i.cs</ExcludeByFile>
          <DeterministicReport>false</DeterministicReport>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
